---
import BookSpine from "./BookSpine.astro";
const { jsonBooks } = Astro.props;

const bookSizeMinMax = {
  page_px_ratio: 20,
  min_height: 170,
  max_height: 200,
  min_width: 60,
  max_width: 150,
};
---

<div
  id="shelf"
  class="shelf-container"
  style="display: flex; flex-wrap: wrap; gap: 0.1rem; width: 85%; align-items:center; justify-content: center;"
>
  {
    jsonBooks.map((jsonBook) => (
      <BookSpine jsonBook={jsonBook} bookSizeMinMax={bookSizeMinMax} />
    ))
  }
</div>

<script define:vars={{ jsonBooks, bookSizeMinMax }}>
  const bookCount = jsonBooks.length;

  function chunkArray(arr, numOfChunks) {
    const result = [];
    let chunkSize = Math.floor(arr.length / numOfChunks);
    // console.log(chunkSize)
    for (let i = 0; i < arr.length; i += chunkSize) {
      result.push(arr.slice(i, i + chunkSize));
    }
    return result;
  }
  /**
   * Organizes book elements into rows based on the available shelf width.
   * * @param {HTMLElement[]} bookElemets - An array of DOM elements representing books.
   * @param {number} shelfWidth - The total horizontal pixels available per row.
   * @returns {Object.<string, HTMLElement[]>} An object where keys are row IDs (e.g., 'row_0')
   * and values are arrays of book elements in 그 row.
   * rowID:[books...]
   */
  function putBooksOnShelfs(bookElemets, shelfWidth, marginRight = 150) {
    let shelf = {};
    let countSelfedBooks = 0;
    let currentShelfRow = 0;
    // NOTE: without some book will spill over the shelf
    let maxShelfRowSpace = shelfWidth - marginRight;
    let avaliableShelfRowSpace = maxShelfRowSpace;
    while (countSelfedBooks < bookElemets.length) {
      let selectedBook = bookElemets[countSelfedBooks];
      const bookWidth = selectedBook.getBoundingClientRect().width;
      if (avaliableShelfRowSpace < bookWidth) {
        currentShelfRow++;
        avaliableShelfRowSpace = maxShelfRowSpace;
      }
      avaliableShelfRowSpace -= bookWidth;
      countSelfedBooks++;

      if (!shelf[`row_${currentShelfRow}`]) {
        shelf[`row_${currentShelfRow}`] = [selectedBook];
        continue;
      }
      shelf[`row_${currentShelfRow}`].push(selectedBook);
    }
    return shelf;
  }
  function setUpShelf(shelfID = "shelf", bookSpine = ".bookSpine") {
    const shelf = document.getElementById(shelfID);
    const bookSpines = shelf.querySelectorAll(bookSpine);
    let bookRows = putBooksOnShelfs(bookSpines, shelf.clientWidth);
    console.log(bookRows);
    for (let bookRow in bookRows) {
      let booksInRow = bookRows[bookRow];
      let shelfRow = document.getElementById(`${bookRow}`);
      if (shelfRow == null) {
        shelfRow = document.createElement("div");
        shelfRow.id = `${bookRow}`;
        shelfRow.className = `shelfRow`;
        shelfRow.style = `
          border: 10px solid #d4d9e4;
          display: flex;
          flex-direction: column;
          width: 90%;
          align-items: center;
          margin: auto, auto;
        `;
      }

      const rowOfBooks = document.createElement("div");
      rowOfBooks.className = `rowOfBooks`;
      rowOfBooks.style = `
        display: flex;
        gap: 0.1rem;
        align-items: flex-end;
        margin: auto, auto;
        padding-top: 0.5rem;
      `;
      const topShelfBar = document.createElement("div");
      topShelfBar.className = `topShelfBar`;

      topShelfBar.style = `
          background-color: #DD3E65;
          width: 100%;
          height: 20px;
        `;
      const bottomShelfBar = document.createElement("div");

      bottomShelfBar.style = `
          background-color: #DD3E65;
          width: 100%;
          height: 20px;
        `;
      bottomShelfBar.className = `bottomShelfBar`;
      shelfRow.appendChild(topShelfBar);
      booksInRow.forEach((book) => {
        rowOfBooks.appendChild(book);
      });
      shelfRow.appendChild(rowOfBooks);
      shelfRow.appendChild(bottomShelfBar);

      shelf.appendChild(shelfRow);
    }
    shelf.classList.add("loaded");
    shelf.classList.remove("hidden");
  }

  /** remove all elements from shelf exept books */
  function removeEmptyRows(shelfID = "shelf", bookSpine = ".bookSpine") {
    const shelf = document.getElementById(shelfID);

    const bookSpines = shelf.querySelectorAll(bookSpine);
    shelf.replaceChildren(...bookSpines);
  }

  window.addEventListener("DOMContentLoaded", () => {
    requestAnimationFrame(() => {
      setUpShelf();
    });
  });
  window.addEventListener("resize", () => {
    requestAnimationFrame(() => {
      removeEmptyRows();
      setUpShelf();
    });
  });
</script>
<style>
  /* Base state: Hidden but takes up space (allows width calculation) */
  .shelf-container {
    visibility: hidden;
    opacity: 0;
  }

  /* Active state: Visible */
  .shelf-container.loaded {
    visibility: visible;
    opacity: 1;
  }
</style>
