---
const { jsonBook, bookSizeMinMax } = Astro.props;
import { RNG } from "./randomNuberSeed.js";

const dataDocSizeData = JSON.parse(jsonBook.data.doc_position);

const book_heigth_seed = jsonBook.uri
  .split("")
  .reduce((a, b) => a + b.charCodeAt(0), 0);
let book_height =
  new RNG(book_heigth_seed).nextInt() % bookSizeMinMax.max_height;
book_height = Math.max(bookSizeMinMax.min_height, book_height);

let book_width = dataDocSizeData.pagesCount / bookSizeMinMax.page_px_ratio;
book_width = Math.max(bookSizeMinMax.min_width, book_width);
book_width = Math.min(bookSizeMinMax.max_width, book_width);

const isFavorite = jsonBook.data.doc_favorites_time > 0;
const bookStyle = `
  background: #3E4B5B;
  border: 2px solid ${isFavorite ? "#B48EAD" : "#81A1C1"};
  text-wrap: wrap;
  color: ${isFavorite ? "#B48EAD" : "#81A1C1"}; 
  width: ${book_width}px;
  height: ${book_height}px;
  // transform: rotate(90deg) scaleX(-1);
`;
let randomColor = "#" + ((Math.random() * 0xffffff) << 0).toString(16);
let bookTitle = jsonBook.data.doc_title ?? "Title";
let filterdBookTitle = jsonBook.data.doc_title
  ? jsonBook.data.doc_title.split(" ").slice(0, 6).join(" ").trimEnd()
  : "TITLE";

let fontReferenceWidth =
  (bookSizeMinMax.min_width + bookSizeMinMax.min_width) / 2;

let bookTitleFontSize = `${fontReferenceWidth}px`;
switch (true) {
  case bookTitle.length > 60:
    bookTitleFontSize = `${fontReferenceWidth / 6}px`;
    break;
  case bookTitle.length > 50:
    bookTitleFontSize = `${fontReferenceWidth / 5}px`;
    break;
  case bookTitle.length > 25:
    bookTitleFontSize = `${fontReferenceWidth / 4.5}px`;
    break;
  case bookTitle.length > 15:
    bookTitleFontSize = `${fontReferenceWidth / 4}px`;
    break;
  case bookTitle.length > 10:
    bookTitleFontSize = `${fontReferenceWidth / 3.5}px`;
    break;
  default:
    bookTitleFontSize = `${fontReferenceWidth / 3}px`;

}

// TODO: handle EXEPTION large title on small books  is overflowing
function wrapBookTitle(title) {
  if (!title) {
    return "TITLE";
  }
  title = title.trimEnd();
  title = title.split(" ");
  let charCount = 0;
  for (let i = 0; i < title.length; i += 1) {
    let previosCharCount = charCount;
    charCount += title[i].length;

    if (charCount >= 15 && charCount - previosCharCount > 3) {
      title[i] += "<br>";
    }
  }
  return title.join(" ");
}
filterdBookTitle = wrapBookTitle(filterdBookTitle);
---

<div id={jsonBook.uri} class="book" style={bookStyle}>
  <div
    style=`
    // background: ${randomColor};
    height: 20%;
    // opacity: 0.2;
    text: #E3E7EE;
  `
  >
    {bookTitle.length}
  </div>
  <div
    style=`
    background: #252932;
    height: 80%;
    display:flex;
    align-items:center;
    justify-content:center;
      overflow: hidden;
  `
  >
    <div
      style=`
      text-wrap: balance;
      transform: rotate(-90deg);
      font-size: ${bookTitleFontSize}; 
      align-items:center;
      `
      set:html={filterdBookTitle}
    />
  </div>
</div>
